body {font-family: 'Raleway', sans-serif;

}
h1 {
  color: #C560FF;
  font-family: 'Lato', sans-serif;

}

h3 {
  color: rgb(140, 112, 255);
  font-family: 'Lato', sans-serif;
}

#btn {
  transition: ease all 1s;
  background-color: #C560FF;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  border-radius: 10px 10px 10px 10px;
}

a:hover {
  opacity: .5;
}
.list-inline li {
  display: inline-block;
}
.container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.card {
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  padding: 40px;
  margin: 25px 50px;
}
.list-inline {
  padding: 0;
  margin-top: 30px;
}

i:hover {
  opacity: .5;
}

.img-circle {
  border-radius: 50%;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

